    <p>
        <% if(locals.user &&(locals.user.id == comment.user.id)){%>
            <small>
                <a href="/comments/destroy/<%= comment.id%>">W</a>
            </small>
            <%}%>
            this is the comment
        <%= comment.content%>
        <br>
        <small>
            <%= comment.user.name%>
        </small>
    </p>