header page
<% if(locals.user){%>
<a href="/user/">
    <%= user.name%>
</a>
    <a href="/login/signout">SIGN-OUT</a>
<%}else{%>
<a href="/login/login">SIGN-IN</a>
<a href="/login/signin">SIGN-UP</a>

<%}%>

