<link rel="stylesheet" href="/css/header.css">
<% if(locals.user){%>
<a class="name" href="/user/">
    <%= user.name%>
</a>
    <a class="options" href="/login/signout">SIGN-OUT</a>
<%}else{%>
<a class="options" href="/login/login">SIGN-IN</a>
<a class="options" href="/login/signup">SIGN-UP</a>

<%}%>

