<link rel="stylesheet" href="./css/home.css">
    <h1>welcome to the home</h1>

<section id="feedpost">
    <h4>Posts</h4>
    <% if(locals.user){%>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="type here .."></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div>
        <!-- showing all the items of the dataset -->
    <%- include('_post')-%>
    </div>

</section>
<!--  create controller and action for this form and mark the user -->