body{
    background-image: linear-gradient(60deg,green,brown,pink);
}
#home-container{
    display: flex;
    #feedpost{
        width: 70%;
        padding: 10px;
    }
    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: 100%;
    }
}